.root {
    -fx-background-color: #FCFCFC;
    -fx-font-size: 12;
}
.navbar {
    -fx-background-color: #3CB961;
}

.navbar-title {
    -fx-fill: #ffffff;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.footer {
    -fx-background-color: #f6f6f6;
}

.popular-meeting {
    -fx-background-image: url("../icons/background.jpg");
    -fx-background-size: stretch;
}

.popular-meeting-title {
    -fx-font-size: 32;
    -fx-fill: #ffffff;
}

.popular-meeting-desc {
    -fx-font-size: 20;
    -fx-fill: #DBDBDB;
}


.button {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-background-radius: 12;
    -fx-background-color: #3CB961;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #6dd48c;
}

.text-button {
    -fx-text-fill: #3CB961;
    -fx-background-color: transparent;
}

.text-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #6dd48c;
}

.outline-button {
    -fx-text-fill: #3CB961;
    -fx-background-color: transparent;
    -fx-border-color: #3CB961;
    -fx-border-width: 1px;;
    -fx-border-radius: 12;
}

.headline-4 {
    -fx-font-size: 32;
}
.headline-6 {
    -fx-font-size: 20;
}

.overlay {
    -fx-alignment: CENTER;
    -fx-background-color: #000000;
    -fx-opacity: 0;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-fill: transparent;
}


.menu-button {
    -fx-background-color: transparent;
}

.menu-button:hover{
    -fx-cursor: hand;
}

.menu-button-account > .label {
    visibility: false;
    -fx-padding: 0;
}


.menu-button-account .arrow-button{
    -fx-padding: 10;
}

.menu-button-account .arrow-button .arrow{
    -fx-pref-width: 40; 
    -fx-pref-height: 40;
    -fx-background-color: #ffffff;
    -fx-shape: 'M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z'
}

.menu-button-account:hover {
    -fx-background-color: rgb(109, 212, 140);
}

.text-button-on-surface {
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-font-weight: normal;
    -fx-text-fill: #000000;
}

.text-button-on-surface:hover {
    -fx-background-color: #e6e6e6;
}


.meeting-item:hover {
    -fx-background-color: red;
}

.meeting-item-title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.meeting-item-detail {
    -fx-spacing: 10;
}

.meeting-item-detail Text {
    -fx-fill: #767676;
    -fx-font-size: 16;
}