.root {
    -fx-background-color: #FCFCFC;
    -fx-font-size: 14;
}
.navbar {
    -fx-background-color: #3CB961;
}

.navbar-title {
    -fx-fill: #ffffff;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.navbar-action {
    -fx-fill: #ffffff;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.footer {
    -fx-background-color: #f6f6f6;
}

.popular-meeting {
    -fx-background-image: url("../icons/background.jpg");
    -fx-background-size: stretch;
}

.popular-meeting-title {
    -fx-font-size: 40;
    -fx-fill: #ffffff;
}

.popular-meeting-desc {
    -fx-font-size: 24;
    -fx-fill: #DBDBDB;
}


.primary-button {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
    -fx-background-radius: 12;
    -fx-background-color: #3CB961;
}

.text-button {
    -fx-text-fill: #3CB961;
    -fx-font-size: 24;
    -fx-background-color: transparent;
}

.outline-button {
    -fx-text-fill: #3CB961;
    -fx-font-size: 24;

    -fx-background-color: transparent;
    -fx-border-color: #3CB961;
    -fx-border-width: 2px;;
    -fx-border-radius: 12;
}

.headline-4 {
    -fx-font-size: 40;
}
.headline-6 {
    -fx-font-size: 26;
}

.overlay {
    -fx-alignment: CENTER;
    -fx-background-color: #000000;
    visibility: false;
}