<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="show_sql">
            false
        </property>

        <!-- mysql database-->
        <property name="dialect">
            org.hibernate.dialect.MariaDB53Dialect
        </property>

        <property name="connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hbm2ddl.auto">
            create-drop
        </property>

        <!-- connection -->
        <property name="connection.url">
            jdbc:mysql://localhost/javafx
        </property>

        <property name="connection.username">
            javafx-admin
        </property>        
        
        <property name="connection.password">
            123
        </property>

        <mapping class="com.azer.meetingmanager.data.models.User"/>
        <mapping class="com.azer.meetingmanager.data.models.Account"/>
        <mapping class="com.azer.meetingmanager.data.models.Admin"/>
        <mapping class="com.azer.meetingmanager.data.models.Meeting"/>
        <mapping class="com.azer.meetingmanager.data.models.Location"/>
    </session-factory>
</hibernate-configuration>